.navbar{
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    margin-bottom: 6rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width: 300px) {
    .navbar{
        padding: 1rem 2rem;
    }
    .navbar a {
        font-size: 1rem;
    }
}